[init]
	defaultBranch = main

[includeIf "hasconfig:remote.*.url:git@github.com:metacore-games/**"]
  path = ~/.gitconfig.metacore

[includeIf "hasconfig:remote.*.url:git@github.com:skx/**"]
  path = ~/.gitconfig.home

[includeIf "hasconfig:remote.*.url:git@github.com:MyCollective/**"]
  path = ~/.gitconfig.home
