[user]
    name = Steve Kemp
    email = steve@steve.org.uk
	signingkey = 0C626242

[color]
    diff  = auto
    status= auto
    branch= auto
    interactive = true

[alias]
    ci = commit
    di = diff --color-words
    st = status

[core]
	editor = vim
[push]
	default = matching
