[user]
name = Steve Kemp
email = steve@steve.org.uk

[color]
diff  = auto
status= auto
branch= auto
interactive = true

[alias]
ci = commit
di = diff --color-words
st = status

[core]
editor = vim
quotepath = false

[push]
default = matching

[init]
defaultBranch = master

#
# We might have a .local configuration-file which will make changes
# here - this is not tracked by git for obvious reasons.
#
[include]
path = .gitconfig.local

