# Ignore all by default
/*

# Don't ignore the bash files
!.bash/
!.bashrc
!.bash_profile

# Don't ignore the MySQL config file
!.my.cnf

# Don't ignore perltidy file
!.perltidyrc

# Don't ignore my SSH configuration file
!.ssh/config

# Vim is covered
!.vimrc
!.vim/

# Revision control systems
!.gitconfig
!.hgrc

# Shell input
!.inputrc

# Terminal sharing utilities
!.screenrc
!.tmux.conf
