[Desktop Entry]
X-GNOME-Autostart-enabled=true
Name=xbindkeys
Comment=Keyboard Utility
Exec=/usr/bin/xbindkeys
StartupNotify=false
Terminal=false
Type=Application
